body{
     background:#2c2c2c;
}
.sidenav {
            height: 100%;
            width: 250px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
            border-right: 3px solid #c6c6c6;
            transition: transform 0.3s ease; /* Плавный переход */
}
.sidenav.show {
    transform: translateX(250px); /* Выдвигаем меню */
}

.sidenav a {
            padding: 6px 8px 6px 47px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
}

.sidenav a:hover {
            color: #eb5959;
            text-decoration: none;
            transform: scale(1.05);
}

.main {
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
.sidenav img {
     width: 120px;

     position: relative;

    right: -20%;
}

.sidenav .logo{
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -80px;
    right: -20px;
}

.features{
    float:left;
    color: #fff;
    margin-top: 30px;
    text-align: center;
    width:100%;
}

main .features h1 {font-size: 50px;}
main .features p{max-width: 400px; margin: 20px auto}

.alert-warning {
    margin: 2% 35%;
}

form{

    width:500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 960px) {
    .sidenav {
        display: none; /* Уменьшаем ширину */
    }
    .sidenav a {
        font-size: 18px; /* Меньший шрифт */
    }
    .sidenav img {
        width: 80px; /* Уменьшаем логотип */
    }
    .main {
    margin-left: 0px; /* Same as the width of the sidenav */
    font-size: 22px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    }

    .form1{
        width: 90%;
    }
}
@media screen and (max-width: 1270px) {
    .alert-warning {
        margin: 2% 15%;
    }
}
@media screen and (min-width: 961px) {
    #toggleMenu {
        display: none;
    }
}
.btn-info {
    background-color: #17a2b8; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Скругленные углы */
}

.btn-info:hover {
    background-color: #138496; /* Цвет при наведении */
}

#toggleMenu {
    background-color: #5f5f5f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 10px;
    z-index:2;
}
#toggleMenu:hover {
    background-color: #5f5f5f00;
    border: 1px solid;
    border-color: #d6d6d6;
}