<div class="col-lg-6 card1">
                <header>
                    <h1>Техническое задание для интернет-магазина</h1>
                    <p>Создание онлайн-платформы для продажи товаров</p>
                </header>

                <section id="project-description">
                    <h2>Описание проекта</h2>
                    <p>Данный проект предполагает создание интернет-магазина, который будет предлагать широкий ассортимент товаров.</p>
                    <p>Основная цель — обеспечить удобный интерфейс для пользователей и эффективное управление товарами,
                    а также прокачать скилы разработки на <b>Django</b></p>
                </section>

                <section id="functional-requirements">
                    <h2>Функциональные требования</h2>
                    <ul>
                        <li><b>1. Регистрация и авторизация пользователей</b>
                            <ul><ol>
                                <li>Запретить вход авторизированному пользователю</li>
                                <li>Регаистрация/Вход (одно из двух )</li>
                                <li>Имя/логаут (одно из двух)</li>
                                <li>ополнить поля при регистрации(номер телефона как минимум)</li>
                            </ol></ul>
                        </li>
                        <li><b>2. Личный кабинет пользователя</b>
                            <ul>
                                <ol>
                                    <li>Отдельная страница личного кабинета относящаяся ко всему проекту( не только магазин )</li>
                                    <li>В личном кабинете возможность редактировать существующие поля и сохранять</li>
                                    <li>Место для дополнений</li>
                                </ol>
                            </ul>
                        </li>
                        <li><b>3. Корзина и оформление заказа</b>
                            <ul><ol>
                                <li>Создать нормальный фронт дроп-даун корзины в навбаре, используя TABLE </li>
                                <li>Кнопка "Перейти к оформлению" в навбар-корзине</li>
                                <li>Помимо "заказать" добавить кнопку "Сохранить изменения" в корзине.хтмл</li>
                                <li>Валидация полей: Оставить только натуральные значения</li>
                                <li>Исправить ошибки JS в пересчете float стоимости</li>
                                <li>Добавить больше полей-инпут для формления заказа и сделать автомаичесое
                                    заполение полей зарегестрированным пользователям</li>
                                <li>После отправки формы заказа поблагодарить за заказ - при наличии в нем товаров </li>
                                <li>"В корзине пока пусто" Если корзина пуста</li>
                                <li>Место для дополнений</li>
                            </ol></ul>
                        </li>
                        <li style="
                            border: 2px solid;
                            border-color: #008900;
                         "><b>4. Product-Deteil-View</b>
                            <ul><ol>
                                <li style="background-color: #99ff99;">Добавить "похожие товары" </li>
                                <li style="background-color: #99ff99;">Валидация полей</li>
                                <li style="background-color: #99ff99;">Слайдер фотографий JS</li>
                                <li style="background-color: #99ff99;">Добавить учет скидки в стоимость</li>
                                <li>Место для дополнений</li>
                            </ol></ul>
                        </li>
                        <li><b>5. Shop-home</b>
                            <ul><ol>
                                <li style="background-color: #99ff99;">Добавить кнопку "купить сразу" </li>
                                <li style="background-color: #99ff99;">Добавить учет скидки в стоимость</li>
                                <li>Всплывающий баннер "заказать звонок"</li>
                                <li>Добавить количество рзделам в зависимости от количества категорий товаров</li>
                                <li style="background-color: #99ff99;">Добавить поиск по сайту</li>
                                <li>Место для дополнений</li>
                            </ol></ul>
                        </li>
                         <li style="
                            border: 2px solid;
                            border-color: #008900;
                         "><b>6. Адаптивность</b>
                            <ul><ol>
                                <li style="background-color: #99ff99;">Добавить адаптивность к ГЛАВНОЙ СТРАНИЦЕ </li>
                                <li style="background-color: #99ff99;">Добавить адаптивность к Странице резюме</li>
                                <li>Место для дополнений</li>
                            </ol></ul>
                        </li>
                         <li><b>7. Футеры</b>
                            <ul><ol>
                                <li>Сделать человеческие футеры </li>
                                <li>Место для дополнений</li>
                            </ol></ul>
                        </li>
                    </ul>
                </section>

                <section id="design">
                    <h2>Дизайн</h2>
                    <p>Интерфейс должен быть современным и интуитивно понятным. Использование пастельных тонов и адаптивного дизайна для мобильных устройств.</p>
                </section>

                <section id="contact">
                    <h2>Контактная информация</h2>
                    <p>Телефон: +7 (999) 999-99-99</p>
                    <p>Email: example@mail.com</p>
                    <p>Сайт: <a href="https://www.example.com" target="_blank">www.example.com</a></p>
                </section>

            </div>