{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мое резюме</title>
    <link rel="stylesheet" href="styles.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">
        <link rel="stylesheet" href="{% static 'main/css/resume.css' %}">

</head>
<body>
    <div class="container">
        <div class="navbutton hidden">
            <button class="btn btn-warning" style="
            width: 92%;
            margin-top: 1rem;
"> обо мне </button>
        </div>
        <div class="row">
            {% include 'main/card1.html' %}
            {% include 'main/card2.html' %}
        </div>
    </div>
</body>
                <footer>
                    <p>© 2024 Техническое задание для интернет-магазина. Все права защищены.</p>
                </footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function toggleNavButtonVisibility() {
    const navButton = document.querySelector('.navbutton');
    const card2 = document.querySelector('.card2')
    if (window.innerWidth < 769) {
        navButton.classList.remove('hidden');
        card2.classList.add('hidden');

    } else {
        navButton.classList.add('hidden');
        card2.classList.remove('hidden');
    }
}

// Запускаем функцию при загрузке страницы
toggleNavButtonVisibility();

// Добавляем обработчик события на изменение размера окна
window.addEventListener('resize', toggleNavButtonVisibility);

document.addEventListener('DOMContentLoaded', function() {
    const button = document.querySelector('.btn-warning');
    const card1 = document.querySelector('.card1'); // Убедитесь, что у вас есть элемент с классом card1
    const card2 = document.querySelector('.card2'); // Убедитесь, что у вас есть элемент с классом card2

    button.addEventListener('click', function() {
        if (card1.classList.contains('hidden')) {
            // Если card1 скрыта, показываем ее и меняем текст на кнопке
            card1.classList.remove('hidden');
            card2.classList.add('hidden');
            button.textContent = 'Обо мне';
        } else {
            // Если card1 видима, скрываем ее и показываем card2, меняем текст на кнопке
            card1.classList.add('hidden');
            card2.classList.remove('hidden');
            button.textContent = 'Смотреть ТЗ';
        }
    });
});

    </script>

</html>