body{
     background:#2c2c2c;
     color: #fff;
}

.section-top{
    margin-bottom: 30px;
}


.product-item{
    margin-top: 14px;
    height: flex;
    color: #fff;
    font-weight: 100;
    position: relative;
    background: #212121;
    border: 2px solid #B5B5B5;
    border-radius: 10px;
    transition: transform 0.3s ease, border-color 0.3s ease;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
}

.product-item:hover {
    border: 3px solid #fff; /* Белая обводка при наведении */
    transform: scale(1.03);
}

.product-item:active {
    transform: scale(0.98);
    border-color: #FFA53D; /* Изменяет цвет обводки при нажатии */
}

.footer{
    background: black;
    color: white;
    height: 200px;
}