{% extends 'shop/base.html' %}
{% load static %}

{% block tittle %} Корзина {% endblock %}

{% block content-shop %}
{% if products_in_basket %}
<h1 style="text-align: center">Товары в корзине</h1>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <table class="table-prods">
                    <tbody>
                    {% for el in products_in_basket %}
                    <tr>
                        <td style="width: 120px;">
                            {% for ph in products_in_basket_ph %}
                            {% if el.product.id == ph.product.id %}
                            <img src="{{ ph.image.url }}" class="img-card">
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td style="    position: relative">
                            <p style="position: absolute;top: 0%; font-size: 18px;">
                                {{ el.product.name }}</p>


                            <!--                            <input class="product-in-basket-nmb" value="{{ el.nmb }}" type="number" id="number" -->
                            <!--                                   name="product_in_basket_el_{{ el.id }}">-->
                            <div class="number">
                                <button class="number-minus" type="button">-
                                </button>
                                <input class="product-in-basket-nmb" value="{{ el.nmb }}" type="number" id="number"
                                       name="product_in_basket_el_{{ el.id }}" min="0" readonly>
                                <button class="number-plus" type="button">+</button>


                                <script>
                                    function changeValue(button, delta) {
                                        const $container = $(button).closest('.number');
                                        const $input = $container.find('input.product-in-basket-nmb');
                                        let currentValue = parseInt($input.val()) || 0;
                                        let newValue = currentValue + delta;
                                        const min = parseInt($input.attr('min')) || 0;
                                        if (newValue < min) newValue = min;
                                        $input.val(newValue).trigger('change');
                                    }
                                </script>
                            </div>

                            <span class="product-price hidden">
                                        {{ el.price_per_item }}
                                    </span>

                            <span class="total-product-in-basket-amount">
                                        {{ el.total_price }}$
                                    </span>
                        </td>
                    </tr>

                    {% endfor %}

                    </tbody>
                </table>

            </div>

            <div class="col-lg-6" style="position: relative">
                <div class="form-group" style="">
                    <table class="contact-table">
                        <tbody>
                        <tr>
                            <td>
                                <label>Имя</label>
                            </td>
                            <td>
                                <input type="Text" class="form-control" name="{{ form.user_name.html_name }}"
                                       value="{{user.first_name}}" maxlength="32">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Phone number</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" value="{{user.phone_number}}"
                                       name="{{form.user_phone.html_name}}"
                                       id="user_phone">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>customer_address</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="{{form.user_address.html_name}}"
                                       id="user_address">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>comments</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="{{form.user_comment.html_name}}"
                                       id="user_comment">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
        {{ form.errors }}
        <div class="text-right" style="text-align: right;">
            <br>
            <div class="text-right" style="text-align: right;">
                <b>Сумма заказа: </b> <span id="total_order_amount"></span>$
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Оформить заказ</button>
        </div>
    </form>


</div>
{% else %}
<div class="container">
    <div class="col-lg-12">
        <h2>В корзине пусто</h2>
        <div class="col-lg-12 text-center">
            <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <!-- Круглая голова -->
                <circle cx="50" cy="50" r="40" fill="#f5f5f700" stroke="#ffffff9c"/>

                <!-- Глаза -->
                <circle cx="35" cy="40" r="5" fill="#ffffff9c"/>
                <circle cx="65" cy="40" r="5" fill="#ffffff9c"/>

                <circle cx="35" cy="41" r="2" fill="#2c2c2c"/>
                <circle cx="65" cy="41" r="2" fill="#2c2c2c"/>

                <!-- Грустный рот -->
                <path d="M35 73 Q50 55, 65 73" stroke="#ffffff9c" stroke-width="2" fill="transparent"/>
            </svg>
        </div>

    </div>
</div>
{% endif %}
{% endblock %}
