{% extends 'shop/base.html' %}
{% load static %}

{% block tittle %} Корзина {% endblock %}

{% block content-shop %}
<h1 style="text-align: center">Товары в корзине</h1>
<div class="container">
    <form method="post" >
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th> Картинка</th>
                        <th> Название товара</th>
                        <th> Количество</th>
                        <th> Цена за еденицу</th>
                        <th> Общая цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for el in products_in_basket %}
                    <tr>
                        <td>
                            {% for ph in products_in_basket_ph %}
                            {% if el.product.id == ph.product.id %}
                            <img src="{{ ph.image.url }}" class="img-card">
                            {% endif %}
                            {% endfor %}
                        </td>

                        <td> {{el.product.name}}</td>

                        <td>
                            <input class="product-in-basket-nmb" value="{{ el.nmb }}" type="number" id="number"
                                   name="product_in_basket_el_{{ el.id }}">
                        </td>

                        <td>
                                    <span class="product-price">
                                        {{ el.price_per_item }}
                                    </span>
                        </td>

                        <td>
                                    <span class="total-product-in-basket-amount">
                                        {{ el.total_price }}
                                    </span>
                        </td>
                    </tr>

                    {% endfor %}

                    </tbody>
                </table>
                <div class="text-right" style="text-align: right;">
                    <b>Сумма заказа: </b> <span id="total_order_amount"></span>
                </div>


                <div class="text-right" style="text-align: right;">
                    <button type="submit" class="btn btn-primary btn-lg">Оформить заказ</button>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Имя</label>
                    <input type="Text" class="form-control" name="{{ form.user_name.html_name }}" style="width: 30%;
                     align: right" value="{{user.first_name}}" maxlength="32">
                </div>
                <div class="form-group">
                    <label>Phone number</label>
                    <input type="text" class="form-control" value="{{user.phone_number}}" name="{{form.user_phone.html_name}}"
                           style="width: 30%" id="user_phone">
                </div>
            </div>
        </div>
        {{ form.errors }}
    </form>







</div>
{% endblock %}
