<footer>
    <div class="text">
        <h1>FOOTER</h1>
    </div>
    <div class="text" style="align: center">
        <p> Мой персональный полигон технологических экспериментов! 🚀 </p>

        <ul><ol>Этот сайт - живое резюме, которое показывает:
            <li> - Глубину моих знаний Django</li>
            <li> - Креативность технических решений</li>
            <li> - Способность превращать идеи в работающий код</li>
        </ol></ul>
        <h4> Здесь каждая строчка - история профессионального роста </h4>
    </div>
</footer>