{% load static %}
<div id="orderCallModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>


        <h3 style="color: #2c2c2c"> Остались вопросы? </h3>
        <p style="color: #2c2c2c"> Закажи звонок </p>
        <form class="form-inline ml-auto" id="orderCallForm" action="{% url 'shop:call_order' %}" method="post">
            {% csrf_token %}
            <div class="windowcall" style="margin-bottom: 3px;">
                <input class="form-inline ml-auto" type="text" id="subscriber_name" name="{{form.customer_name.html_name}}"
                       placeholder="Имя" required>
            </div>
            <div class="windowcall" style="margin-bottom: 3px;">
                <input class="form-inline ml-auto" type="tel" id="subscriber_phone" name="{{form.customer_phone.html_name}}"
                       placeholder="Номер телефона" required>
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Заказать</button>
        </form>


        <img src="{% static 'main/img/person-using-smartphone_24908-81575-removebg-preview.png' %}" class="img2">


    </div>
</div>