<a href="{% url 'shop:product_detail' el.product.id %}">
<div class="col d-flex justify-content-center" >
        <div class="product-item" >

            <img src="{{ el.image.url }}" class="img-card">
            <h6>{{ el.product.name}}</h6>
            <p>{{ el.product.short_description }}</p>
            {% if el.product.discount == 0 %}
                <div class="actual_price_item">
                    <p>{{ el.product.discount_price }} $</p>
                </div>
            {% else %}
                <div class="cross_item" >
                    <s>{{ el.product.price }} $</s>
                </div>
                <div class="actual_price_item">
                    <p>{{ el.product.discount_price }} $</p>
                </div>
            {% endif %}
            {% if el.product.discount %}
                <div class="discount-style"> {{ el.product.discount }} %</div>
            {% endif %}
        </div>
 </div>
 </a>
