{% extends 'shop/base.html' %}
{% load static %}

{% block tittle %} Магазик {% endblock %}


{% block content-shop %}
    <div class="section-top">
            <img src="{% static 'main/img/sliderapple.png' %}" class="img1">
    </div>

    <div class="section1">
        <div class="container">
                <div class="col-lg12"><h1 class="text-center"> Новые поступления </h1></div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">
                {% for el in product %}
                <div class="col d-flex justify-content-center" >


                    <div class="product-item" >
                        <div>
                        <img src="{{ el.image.url }}" class="img-card">
                        </div>
                        <h6>{{ el.product.name}}</h6>
                        <p>{{ el.product.short_description }}</p>
                        <p>{{ el.product.price }} $</p>
                    </div>
                </div>
                {% endfor %}

            </div>
         </div>
    </div>
    <div class="section section2 phones-container">
        <div class="container">
                <div class="col-lg12"><h1 class="text-center"> Новые поступления </h1></div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">
                {% for el in product %}
                <div class="col d-flex justify-content-center" >


                    <div class="product-item" >
                        <div>
                        <img src="{{ el.image.url }}" class="img-card">
                        </div>
                        <h6>{{ el.product.name}}</h6>
                        <p>{{ el.product.short_description }}</p>
                        <p>{{ el.product.price }} $</p>
                    </div>
                </div>
                {% endfor %}

            </div>
         </div>
    </div>
    <div class="section section3 laptops-container">
        <div class="container">
                <div class="col-lg12"><h1 class="text-center"> Новые поступления </h1></div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">
                {% for el in product %}
                <div class="col d-flex justify-content-center" >


                    <div class="product-item" >
                        <div>
                        <img src="{{ el.image.url }}" class="img-card">
                        </div>
                        <h6>{{ el.product.name}}</h6>
                        <p>{{ el.product.short_description }}</p>
                        <p>{{ el.product.price }} $</p>
                    </div>
                </div>
                {% endfor %}

            </div>
         </div>
    </div>
{% endblock %}