{% extends 'shop/base.html' %}
{% load static %}

{% block tittle %} Магазик {% endblock %}


{% block content-shop %}
    <div class="section-top">
            <img src="{% static 'main/img/slidercity.jpg' %}" class="img-responsive">
    </div>

    <div class="section1">
        <div class="container">
            <div class="row">
                <div class="col-lg12"><h1 class="text-center"> Новые поступления </h1></div>
                {% for el in product %}
                <div class="col-lg-3">


                    <div class="product-item">
                        <div>
                        <img src="{{ el.image.url }}" class="img-fluid">
                        </div>
                        <h6>{{ el.product.name}}</h6>
                        <p>{{ el.product.short_description }}</p>
                        <p>{{ el.product.price }} $</p>
                    </div>
                </div>
                {% endfor %}

            </div>
         </div>
    </div>
    <div class="section section2 phones-container">
        <div class="container">
            <div class="row">
                <div class="col-lg12"><h1 class="text-center"> Телефоны </h1></div>
                {% for el in product %}
                <div class="col-lg-3">


                    <div class="product-item">
                        <div>
                        <img src="{{ el.image.url }}" class="img-fluid">
                        </div>
                        <h6>{{ el.product.name}}</h6>
                        <p>{{ el.product.short_description }}</p>
                        <p>{{ el.product.price }} $</p>
                    </div>
                </div>
                {% endfor %}

            </div>
         </div>
    </div>
    <div class="section section3 laptops-container">
        <div class="container">
            <div class="row">
                <div class="col-lg12"><h1 class="text-center"> Компьютеры </h1></div>
                {% for el in product %}
                <div class="col-lg-3">


                    <div class="product-item">
                        <div>
                        <img src="{{ el.image.url }}" class="img-fluid">
                        </div>
                        <h6>{{ el.product.name}}</h6>
                        <p>{{ el.product.short_description }}</p>
                        <p>{{ el.product.price }} $</p>
                    </div>
                </div>
                {% endfor %}

            </div>
         </div>
    </div>
{% endblock %}